.nav-bar {
    position: fixed;
    right: 6vh;
    top: 0;
    padding: 1vh;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
    transition: 0.4s;
    z-index: 10;

    @include mq(xxsmall-landscape) {
        font-size: 1.3rem;
    }

    &--prime-numbers {
        background-color: #700;
    }

    &--science-millionaires {
        background-color: #007;
    }

    &--fascinating-space {
        background-color: #222;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 2vh;
        text-align: center;
    }

    &__li {
        transition: 0.2s;
    }

    @media (hover: hover) {
        &__li--prime-numbers:hover {
            background-color: #f00;
        }

        &__li--science-millionaires:hover {
            background-color: #00f;
        }

        &__li--fascinating-space:hover {
            background-color: #aaa;
        }
    }

    a {
        color: #fff;
        text-decoration: none;
    }
}

.nav-bar-icon {
    position: fixed;
    right: 0;
    top: 1vh;
    width: 6vh;
    color: #0f0;
    font-size: 1.5rem;
    cursor: pointer;

    @include mq(xxsmall-landscape) {
        font-size: 2rem;
    }
}
